{% extends "base.html" %}
{% load thumbnail %}
{% load pagination_tags %}
{% load recipe_tags %}

{% block content %}
    <form role="search" method="get">
        <div class="input-group col-lg-6 col-lg-offset-3">
            <input type="text" class="form-control" id="query" name="query"
                   placeholder="Ieškoti produktų pagal pavadinimą..">

            <div class="input-group-btn">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
    </form>
    <br/>

    {% autopaginate products 8 %}
    {% for group in products|group_by:4 %}

        <div class="row-fluid">
            {% for product in group %}
                <div class="col-md-3 col-xs-6">
                    <div class="thumbnail">
                        {% thumbnail product.photo "300x300" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                        <div class="caption">
                            <h3>{{ product.title }}</h3>

                            <p>{{ product.description }}</p>

                            <p>
                                <a class="btn btn-success" href="{% url 'add_to_fridge' %}?product={{ product.id }}">Pridėti į šaldytuvą</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="clearfix visible-md visible-lg visible-xs"></div>
        </div>
    {% endfor %}
    <div class="text-center">
        {% paginate %}
    </div>
{% endblock %}