{% extends "base.html" %}
{% load thumbnail %}
{% load pagination_tags %}
{% load recipe_tags %}

{% block content %}
    <form role="search" method="get">
        <div class="input-group col-lg-6 col-lg-offset-3">
            <input type="text" class="form-control" id="query" name="query"
                   placeholder="Ieškoti receptų pagal pavadinimą..">

            <div class="input-group-btn">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
    </form>
    <br/>

    {% autopaginate products 4 %}
    {% for group in products|group_by:4 %}

        <div class="row-fluid">
            {% for product in group %}

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        {% thumbnail product.photo "300x300" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                        <div class="caption">
                            <h3>{{ product.title }}</h3>

                            <p>{{ product.description }}</p>

                            <p>
                                <a href="#" class="btn btn-info">Peržiūrėti</a>
                                <a class="btn btn-success" data-toggle="modal" data-target="#myModal">Pridėti į šaldytuvą</a>
                            </p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div class="text-center">
        {% paginate %}
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <form method="POST">{% csrf_token %}
                <div class="modal-body">

                <input type="text" id="test"/>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}